.header {
  position: sticky;
  top: 0;
  background: linear-gradient(0, #464341, #010101);
  &__container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 261px 29px;
  }
  &__phone {
    font-family: Manrope-Medium, serif;
    font-size: 24px;
    text-decoration: none;
    color: #ffff;
    &:hover {
      cursor: pointer;
    }
  }
}
